<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="wheel">

    <link name="Left_forward_wheel">
      <inertial>
        <origin xyz="1.2490009027033E-16 -6.1409211049579E-16 -0.0318963397161268" rpy="0 0 0" />
        <mass value="0.38693434007123" />
        <inertia ixx="0.000164665684225832" ixy="1.03435021381098E-16" ixz="2.79933590586541E-16" iyy="0.000164665684225701" iyz="1.53586588595806E-16" izz="0.000205539151193427" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://midterm/urdf/meshes/Left_forward_wheel.STL" />
        </geometry>
        <material name="">
          <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://midterm/urdf/meshes/Left_forward_wheel.STL" />
        </geometry>
      </collision>
    </link>

    <joint name="Left_forward_joint" type="fixed">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <parent link="Left_forward_wheel1" />
      <child link="Left_forward_wheel" />
      <axis xyz="0 0 1" />
      <dynamics damping="0.1" friction="0.1" />
    </joint>

    <link name="Right_forward_wheel">
      <inertial>
        <origin xyz="-1.2490009027033E-16 4.85722573273506E-17 -0.0318963396900528" rpy="0 0 0" />
        <mass value="0.386934339646562" />
        <inertia ixx="0.00016466568423101" ixy="-3.19541061769317E-17" ixz="-3.82361260302432E-17" iyy="0.000164665684231041" iyz="-2.40756939158418E-17" izz="0.000205539151181393" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://midterm/urdf/meshes/Right_forward_wheel.STL" />
        </geometry>
        <material name="">
          <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://midterm/urdf/meshes/Right_forward_wheel.STL" />
        </geometry>
      </collision>
    </link>

    <joint name="Right_forward_joint" type="fixed">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <parent link="Right_forward_wheel1" />
      <child link="Right_forward_wheel" />
      <axis xyz="0 0 -1" />
      <dynamics damping="0.1" friction="0.1" />
    </joint>

    <link name="Left_backward_wheel">
      <inertial>
        <origin xyz="-3.88578058618805E-16 1.52655665885959E-16 -0.0318963396983103" rpy="0 0 0" />
        <mass value="0.38693433977405" />
        <inertia ixx="0.000164665684224543" ixy="-5.44366971754961E-17" ixz="-1.64638873428518E-17" iyy="0.000164665684224467" iyz="-4.73291942910437E-17" izz="0.000205539151192063" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://midterm/urdf/meshes/Right_backward_wheel.STL" />
        </geometry>
        <material name="">
          <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://midterm/urdf/meshes/Right_backward_wheel.STL" />
        </geometry>
      </collision>
    </link>

    <joint name="Left_backward_joint" type="fixed">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <parent link="Left_backward_wheel1" />
      <child link="Left_backward_wheel" />
      <axis xyz="0 0 1" />
      <dynamics damping="0.1" friction="0.1" />
    </joint>

    <link name="Right_backward_wheel">
      <inertial>
        <origin xyz="3.88578058618805E-16 3.81639164714898E-17 -0.0318963396918449" rpy="0 0 0" />
        <mass value="0.386934339673269" />
        <inertia ixx="0.000164665684230379" ixy="7.84436153661023E-17" ixz="-5.11751895742631E-17" iyy="0.000164665684230335" iyz="-1.24644074562022E-17" izz="0.000205539151179241" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://midterm/urdf/meshes/Left_backward_wheel.STL" />
        </geometry>
        <material name="">
          <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://midterm/urdf/meshes/Left_backward_wheel.STL" />
        </geometry>
      </collision>
    </link>

    <joint name="Right_backward_joint" type="fixed">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <parent link="Right_backward_wheel1" />
      <child link="Right_backward_wheel" />
      <axis xyz="0 0 -1" />
      <dynamics damping="0.1" friction="0.1" />
    </joint>
  </xacro:macro>

</robot>