<launch>
    <!-- Define arguments -->
    <arg name="model" default="$(find midterm)/xacro/mecanum_xacro.xacro"/>
    <arg name="gui" default="true" />
    <arg name="rvizconfig" default="$(find midterm)/rviz/robot.rviz"/>
    <!-- Launch Gazebo with the specified model -->
    <include file="$(find midterm)/launch/gazebo_xacro.launch"/>


    <!-- Launch RViz -->

    <param name="robot_description" command="$(find xacro)/xacro $(arg model)" />
    <node if="$(arg gui)" name="joint_state_publisher" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />

    <node unless="$(arg gui)" name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />


    <!-- Load joint controller configuration from YAML file to parameter server -->
    <rosparam file="$(find midterm)/config/control_separately.yaml" command="load"/>
    <rosparam file="$(find midterm)/config/control_servo.yaml" command="load"/>

    <!-- Load the controllers -->
    <node name="robot_arm_controller_spawner" pkg="controller_manager" type="spawner" respawn="true" output="screen" args="
         meca/left_forward_controller
         meca/left_backward_controller
         meca/right_forward_controller
         meca/right_backward_controller
         meca/servo1_controller
         meca/servo2_controller
        --shutdown-timeout 3"/>

    <!-- Convert joint states to TF transforms for RViz -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
    </node>
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" output="screen"/>
    <!-- Launch RQT Robot Steering -->
    
</launch>
