<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="base">

        <link name="base_footprint"></link>

        <joint name="joint_base_footprint" type="fixed">
            <parent link="base_footprint"/>
            <child link="base_link"/>
            <origin xyz="0.0 0.0 0.037" rpy="0.0 0.0 0.0"/>
        </joint>


        <link name="base_link">
            <inertial>
                <origin xyz="-0.00280638761136618 9.22799255059434E-05 -0.00823780680525314" rpy="0 0 0" />
                <mass value="2.73624245548653" />
                <inertia ixx="0.0111853471576075" ixy="-7.2511498712482E-11" ixz="0.000255799746468985" iyy="0.0161314353661535" iyz="1.81571166508761E-07" izz="0.0239017300755925" />
            </inertial>
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <geometry>
                    <mesh filename="package://midterm/urdf/meshes/base_link.STL" />
                </geometry>
                <material name="">
                    <color rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
                </material>
            </visual>
            <collision>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <geometry>
                    <mesh filename="package://midterm/urdf/meshes/base_link.STL" />
                </geometry>
            </collision>
        </link>
    </xacro:macro>

</robot>