<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="arm">
        <link name="link1">
            <inertial>
                <origin xyz="0.0130133047131633 0.0889204179261883 -0.0296765696165617" rpy="0 0 0" />
                <mass value="0.164486554024359" />
                <inertia ixx="0.000544779739701674" ixy="-7.45784439965975E-05" ixz="9.94065100983671E-08" iyy="4.6096716851494E-05" iyz="6.79248063491979E-07" izz="0.000565982592073471" />
            </inertial>
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <geometry>
                    <mesh filename="package://midterm/urdf/meshes/link1.STL" />
                </geometry>
                <material name="">
                    <color rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
                </material>
            </visual>
            <collision>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <geometry>
                    <mesh filename="package://midterm/urdf/meshes/link1.STL" />
                </geometry>
            </collision>
        </link>
        <joint name="link1_joint" type="fixed">
            <origin xyz="0 0 0" rpy="0 0 0" />
            <parent link="link11" />
            <child link="link1" />
            <axis xyz="0 0 1" />
            <limit lower="0" upper="0" effort="0" velocity="0" />
            <dynamics damping="0.1" friction="0.1" />
        </joint>
        <link name="link2">
            <inertial>
                <origin xyz="0.104899329069202 0.0379645740880208 -0.0321285668568063" rpy="0 0 0" />
                <mass value="0.184332677556066" />
                <inertia ixx="0.000107535031720432" ixy="-0.000205718924701572" ixz="-1.78149467639473E-06" iyy="0.000593870869716796" iyz="-6.41437127577083E-07" izz="0.000681305864636033" />
            </inertial>
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <geometry>
                    <mesh filename="package://midterm/urdf/meshes/link2.STL" />
                </geometry>
                <material name="">
                    <color rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
                </material>
            </visual>
            <collision>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <geometry>
                    <mesh filename="package://midterm/urdf/meshes/link2.STL" />
                </geometry>
            </collision>
        </link>
        <joint name="link2_joint" type="fixed">
            <origin xyz="0 0 0" rpy="0 0 0" />
            <parent link="link21" />
            <child link="link2" />
            <axis xyz="0 0 1" />
            <limit lower="0" upper="0" effort="0" velocity="0" />
            <dynamics damping="0.1" friction="0.1" />
        </joint>
    </xacro:macro>

</robot>